In [12]:
#import library packages
import pandas as p
import matplotlib.pyplot as plt
import seaborn as s
import numpy as n

#Load given dataset
data = p.read_csv("water.csv")

import warnings
warnings.filterwarnings('ignore')

data.head(5)

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1

In [13]:
data.iloc[7551]

aluminium       0.03
ammonia        #NUM!
arsenic         0.08
barium          0.79
cadmium         0.07
chloramine      0.08
chromium        0.05
copper          0.58
flouride        0.34
bacteria         0.0
viruses          0.0
lead           0.183
nitrates        4.37
nitrites        1.43
mercury        0.007
perchlorate     0.62
radium          2.54
selenium        0.07
silver          0.05
uranium         0.05
is_safe        #NUM!
Name: 7551, dtype: object

In [14]:
data = data.dropna()
data.shape

(7999, 21)

In [4]:
data["is_safe"].unique()

array(['1', '0', '#NUM!'], dtype=object)

In [5]:
data[data["is_safe"]=='#NUM!']

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
7551,0.03,#NUM!,0.08,0.79,0.07,0.08,0.05,0.58,0.34,0.00,...,0.183,4.37,1.43,0.007,0.62,2.54,0.07,0.05,0.05,#NUM!
7568,0.06,#NUM!,0.07,1.72,0.08,0.32,0.01,1.11,0.61,0.00,...,0.178,12.10,2.03,0.008,1.37,2.05,0.06,0.10,0.07,#NUM!
7890,0.01,#NUM!,0.08,0.49,0.00,0.07,0.09,0.06,0.72,0.57,...,0.088,9.57,1.45,0.009,7.67,7.70,0.03,0.05,0.02,#NUM!

In [15]:
data = data.drop(data[data["is_safe"]=='#NUM!'].index)

In [16]:
data["is_safe"].unique()

array(['1', '0'], dtype=object)

In [17]:
data.iloc[7551]

aluminium        0.1
ammonia         8.76
arsenic          0.1
barium          0.66
cadmium         0.07
chloramine      0.03
chromium         0.0
copper          1.94
flouride        1.31
bacteria         0.0
viruses          0.0
lead           0.194
nitrates       15.83
nitrites        1.66
mercury        0.004
perchlorate     0.18
radium          0.46
selenium        0.06
silver           0.0
uranium         0.01
is_safe            0
Name: 7552, dtype: object

In [18]:
data.shape

(7996, 21)

In [19]:
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

In [20]:
X = data.drop(labels='is_safe', axis=1)
#Response variable
y = data.loc[:,'is_safe']

In [21]:
#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)

In [23]:
X_train

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium
3612,0.03,29.14,0.530,3.75,0.020,2.61,0.25,0.09,0.96,0.64,0.640,0.001,17.32,1.16,0.008,55.88,7.51,0.05,0.23,0.08
777,0.77,24.26,0.010,2.10,0.002,2.70,0.31,0.20,0.28,0.00,0.000,0.113,11.76,1.87,0.005,36.42,1.64,0.10,0.30,0.07
3550,0.01,24.14,0.170,3.09,0.100,3.42,0.86,0.07,0.33,0.92,0.920,0.001,6.11,1.27,0.008,22.21,7.48,0.06,0.30,0.06
5467,0.10,2.97,0.090,2.21,0.030,0.12,0.02,1.88,1.34,0.00,0.003,0.116,3.33,0.45,0.009,6.59,0.47,0.08,0.08,0.06
1780,3.04,3.66,0.140,2.99,0.040,0.57,0.40,0.69,0.14,0.44,0.008,0.155,6.71,1.36,0.010,25.91,1.05,0.02,0.43,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4957,0.01,24.63,0.020,0.03,0.040,0.02,0.08,0.06,1.02,0.04,0.001,0.075,1.79,0.24,0.000,9.84,0.80,0.03,0.00,0.06
878,2.02,24.89,0.001,2.40,0.005,4.90,0.59,1.07,1.04,0.00,0.000,0.043,2.65,1.87,0.002,35.64,3.13,0.08,0.27,0.00
5860,0.04,5.69,0.050,0.56,0.060,0.01,0.10,1.64,0.78,0.80,0.800,0.092,1.58,0.97,0.010,3.21,0.97,0.00,0.06,0.03
308,1.24,10.27,0.050,3.01,0.004,6.84,0.67,0.36,1.31,0.64,0.640,0.154,9.48,1.35,0.006,19.99,7.73,0.06,0.27,0.01
2039,0.08,19.9,0.030,2.67,0.006,4.30,0.26,0.08,0.34,0.26,0.003,0.146,7.96,1.56,0.006,51.39,2.41,0.09,0.12,0.05

In [24]:
y_train

3612    0
777     0
3550    0
5467    0
1780    0
       ..
4957    0
878     0
5860    0
308     1
2039    0
Name: is_safe, Length: 5597, dtype: object

In [25]:
X_test

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,viruses,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium
4285,0.09,11.26,0.06,0.22,0.09,0.16,0.02,0.06,1.16,0.00,0.870,0.126,17.99,0.17,0.008,10.61,5.49,0.03,0.00,0.08
1152,2.45,26.02,0.58,3.98,0.07,5.34,0.30,0.78,0.09,0.00,0.000,0.138,11.39,1.56,0.009,17.64,4.63,0.09,0.18,0.05
3991,0.02,15.55,1.02,4.14,0.01,0.55,0.79,0.09,0.74,0.13,0.001,0.016,14.78,1.34,0.005,37.23,6.24,0.03,0.11,0.05
7964,0.02,6.87,0.10,0.64,0.04,0.49,0.04,0.03,0.27,0.62,0.000,0.166,0.71,1.35,0.003,4.16,0.24,0.00,0.08,0.05
4926,0.05,16.69,0.01,0.78,0.09,0.15,0.06,0.02,0.73,0.00,0.810,0.155,10.32,0.90,0.001,2.54,2.78,0.07,0.04,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7235,0.07,9.84,0.03,0.02,0.08,0.08,0.02,0.68,0.79,0.23,0.002,0.014,7.56,2.05,0.009,11.66,2.78,0.01,0.03,0.02
1522,2.99,27.84,0.17,2.15,0.04,4.49,0.17,0.85,1.21,0.00,0.002,0.103,14.01,1.76,0.001,16.04,3.83,0.07,0.20,0.03
7539,0.05,18.4,0.05,0.85,0.04,0.09,0.08,0.40,0.59,0.00,0.000,0.040,19.18,2.37,0.010,2.15,0.03,0.03,0.06,0.02
1571,4.08,25.44,0.84,1.02,0.11,2.12,0.32,1.10,0.22,0.00,0.005,0.192,18.36,1.50,0.009,2.26,2.08,0.06,0.11,0.05
7016,0.00,16.28,0.02,0.19,0.09,0.12,0.02,1.15,0.34,0.85,0.850,0.065,18.31,1.54,0.003,2.33,0.03,0.10,0.08,0.01

In [26]:
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [27]:
logR= LogisticRegression()

In [28]:
logR.fit(X_train,y_train)

LogisticRegression()

In [29]:
predictLR = logR.predict(X_test)

In [33]:
predictLR

array(['0', '0', '0', ..., '0', '0', '0'], dtype=object)

In [34]:
print("")
print('Classification report of Logistic Regression Results:')
print("")
print(classification_report(y_test,predictLR))

Classification report of Logistic Regression Results:

              precision    recall  f1-score   support

           0       0.91      0.98      0.95      2125
           1       0.67      0.26      0.37       274

    accuracy                           0.90      2399
   macro avg       0.79      0.62      0.66      2399
weighted avg       0.88      0.90      0.88      2399

In [35]:
x = (accuracy_score(y_test,predictLR)*100)

In [36]:
x

90.07919966652771

In [37]:
cm2=confusion_matrix(y_test,predictLR)

In [38]:
cm2

array([[2090,   35],
       [ 203,   71]], dtype=int64)

In [39]:
sensitivity2 = cm2[0,0]/(cm2[0,0]+cm2[0,1])

In [40]:
sensitivity2

0.9835294117647059

In [41]:
cm2[0,0]

2090

In [42]:
cm2[0,1]

35

In [43]:
accuracy = cross_val_score(logR, X, y, scoring='accuracy')

In [44]:
accuracy

array([0.2525    , 0.8905566 , 0.9180738 , 0.90556598, 0.88617886])